.start-page_background {
    width: 800px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.left-side {
    background-color: brown;
    width: 400px;
    height: 500px;
}

.right-side {
    background-color: black;
    width: 400px;
    height: 500px;
}

.start-page_btn {
    position: absolute;
    top: 45%;
    left: 46.5%;
}

a:hover ~ .left-side{
    animation: open 5s ease-in-out backwards;
    /* transform: translateX(-100%); */
}

a:hover ~ .right-side {
    /* animation: open 5s ease-in-out; */
    transform: translateX(100%);
}

@keyframes open {
    from {
        width: 400px;
    }
    to {
        transform: translateX(-100%);
        width: 100px;
    }
}