.start-page_background {
    width: 800px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.left-side {
    background-color: brown;
    width: 400px;
    height: 500px;
}

.right-side {
    background-color: black;
    width: 400px;
    height: 500px;
}

a:hover ~ .left-side{
    animation: open-left 5s ease-in-out backwards;
    /* transform: translateX(-100%); */
}

a:hover ~ .right-side {
    animation: open-right 5s ease-in-out;
    /* transform: translateX(100%); */
}

@keyframes open-left {
    from {
        width: 400px;
    }
    to {
        transform: translateX(-100%);
        width: 100px;
    }
}

@keyframes open-right {
    from {
        width: 400px;
    }
    to {
        transform: translateX(100%);
        width: 100px;
    }
}