* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #520F07;
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

/* header */
header {
    text-align: center;
    padding-bottom: 20px;
}

/* main */
main {
    background-color: #070103;
    width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.list_background {
    background-color: #FAF5E2;
}