/* common.css 수정 */
.content-box {
    width: 300px;
}

.content-list {
    width: 280px;
}
/* ------------------------ */

.insert-page_img {
    width: 300px;
    height: 400px;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.review {
    min-height: 200px;
}